*{margin: 0; padding: 0;}

a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    min-width: 1000px;
    display: inline-block;
    text-align: center;

}
img{
    margin-top:50px;
    padding: 0;
    white-space: nowrap;
}

#header{
    padding: 40px;
    text-align: right;
}

#header a:link{
    color: black;
}

#header a:visited{
    color: black;
}

#footer a:link{
    color: black;
}

#footer a:visited{
    color: black;
}
